html{
    scroll-behavior:smooth;
}

.navigation{
    position:fixed;
    height:70px;
    background-color: rgba(8, 8, 8, 0.733);
    width:100%;
    top:-5px;
    z-index: 9999;
    
}
.navigation h1{
margin-left: 25px;
font-family: Arial, Helvetica, sans-serif;
color:#fcfcfc;

}

ul{
    margin:20px;
    position: relative;
    left:500px;
    top:-80px;
}

li{
    display:inline-block;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    list-style: none;
    padding: 30px;
}
body{
    margin:0;
    background-image: url(gift.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

a{
    text-decoration: none;
    color:white;
    transition: .5s;
    padding:20px
   
}

a:hover{
    color:rgba(45, 45, 248, 0.993);
    background-color:antiquewhite;
    padding-top:20px ;
    padding-bottom: 20px;
   border-radius: 35px;
    box-shadow: 0 0 50px 10px;
    
}
.front{
    text-align: left;
    position:relative;
    top:200px;
    margin:25px;
    font-size: 30px;
}
.front h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color:rgb(255, 255, 255);
}
.front p{
   font-size: 20px;
   color:rgb(255, 255, 255);
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.container{
    background-color: rgb(49, 49, 49);
    position:relative;
    top:350px;
    height:650px;
}
.container h1{
    text-align: center;
    padding-top:100px;
    padding-bottom: 50px;
    font-weight: bold;
    font-size: 40px;
    color:white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
}
.section{
    display:flex;
    justify-content:center;
    gap:40px;
    
}
.section img{
    margin-left:50px;
    border-radius:10px;
    box-shadow:0 0 50px 10px rgba(255, 255, 255, 0.445);
}
.section p{
    background-color: rgba(255, 255, 255, 0.329);
    padding:25px;
    border-radius: 10px;
    width: 30%;
    font-size: 20px;
    color:white;
    font-family:Arial, Helvetica, sans-serif;
    box-shadow: 0 0 50px 10px rgba(229, 229, 241, 0.473);
    
    
    

}



   
